.arrowIcon {
  transform: rotate(180deg);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 25px 0;
}

.totalPriceWrapper {
  margin: 0 auto;
}

.checkout {
  margin: 0 auto;
  width: fit-content;
}

/* 360px */
@media only screen and (min-width: 22.5rem) {
}

/* 480px */
@media only screen and (min-width: 30rem) {
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
}

/* 736px */
@media only screen and (min-width: 46em) {
  .totalPriceWrapper {
    width: 75%;
  }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .totalPriceWrapper {
    width: 65%;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
  .totalPriceWrapper {
    width: 50%;
  }
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
}
