.menu {
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 600;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}

.navigationContainer {
  position: relative;
}

.navigationContainerA,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navigation {
  position: relative;
}

.navigationUl {
  display: flex;
  flex-direction: column;
}

.navigationA {
  composes: navigationContainerA;
  width: 110px;
  margin-bottom: 10px;
}

.navigationA li {
  display: flex;
}

.navigationA li span {
  align-self: center;
}

.navigationA:not(:first-child) {
  margin-top: 10px;
}

.navigationSpan {
  border-bottom: 1px solid var(--border);
  width: 132px;
  color: var(--white);
  margin-left: 15px;
}

.navigationSpan:hover {
  color: var(--elipse);
}

.signOutHover:hover {
  color: var(--elipse);
}

.navigationProfileIcon:before {
  content: url("../../../public/assets/profile.svg");
}

.navigationBuyIcon:before {
  content: url("../../../public//assets/buy.svg");
}

.navigationHeartIcon:before {
  content: url("../../../public/assets/heart.svg");
}

.navigationSettingIcon:before {
  content: url("../../../public/assets/setting.svg");
}

.navigationDeliveryIcon:before {
  content: url("../../../public/assets/bag.svg");
}

.navigationSignoutIcon:before {
  content: url("../../../public/assets/logout.svg");
}

.navigationLogout {
  padding-top: 76px;
  display: flex;
  align-items: center;
}

.emptySmallEllipse {
  position: absolute;
  bottom: 65px;
  left: 90px;
  transform: scale(0.75);
}

.fullSmallEllipse {
  position: absolute;
  bottom: 30px;
  left: -10px;
  transform: scale(0.6);
}

.marginLeft15px {
  margin-left: 15px;
}

.menuLargeImage {
  position: absolute;
  top: 0;
  right: -25px;
}

.menuLargeImage img {
  height: 315px;
  width: 120px;
}

.menuLargeImage .rectangle74image {
  height: 300px;
  width: 140px;
  position: absolute;
  right: -5px;
  top: 30px;
}

.emptySmallEllipsePosition {
  position: absolute;
  top: -40px;
  left: 75px;
  transform: scale(0.65);
}

.semiCircle {
  position: absolute;
  top: -10px;
  right: 35px;
  transform: scale(0.7);
}

/* 360px */
@media only screen and (min-width: 22.5rem) {
  .menu {
    font-size: 13px;
  }

  .menuLargeImage img {
    height: 380px;
    width: 185px;
  }

  .menuLargeImage .rectangle74image {
    height: 370px;
    width: 200px;
  }

  .navigationA {
    margin-bottom: 28px;
  }
}

/* 0.46 Aspect ratio: w/l */

/* 480px */
@media only screen and (min-width: 30rem) {
  .menu {
    font-size: 18px;
  }

  .menuLargeImage img {
    height: 470px;
    width: 220px;
  }

  .menuLargeImage .rectangle74image {
    height: 460px;
    width: 240px;
  }

  .navigationA {
    margin-bottom: 48px;
  }

  .navigationProfileIcon:before {
    content: url("../../../public/assets/profile.svg");
  }

  .navigationBuyIcon:before {
    content: url("../../../public/assets/buy.svg");
  }

  .navigationHeartIcon:before {
    content: url("../../../public/assets/heart.svg");
  }

  .navigationSettingIcon:before {
    content: url("../../../public/assets/setting.svg");
  }

  .navigationDeliveryIcon:before {
    content: url("../../../public/assets/bag.svg");
  }

  .navigationSignoutIcon:before {
    content: url("../../../public/assets/logout.svg");
  }

  .navigation {
    margin-left: 35px;
  }
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
}

/* 736px */
@media only screen and (min-width: 46em) {
  .menu {
    font-size: 19px;
  }

  .menuLargeImage img {
    height: 600px;
    width: 280px;
  }

  .menuLargeImage .rectangle74image {
    height: 600px;
    width: 310px;
  }

  .menuLargeImage {
    right: -55px;
  }

  .emptySmallEllipsePosition {
    top: -70px;
    transform: scale(3);
  }

  .semiCircle {
    top: -10px;
    right: 100px;
    transform: scale(2);
  }

  .emptySmallEllipse {
    left: 180px;
    transform: scale(2.5);
  }

  .fullSmallEllipse {
    bottom: 70px;
    left: -10px;
    transform: scale(1.5);
  }

  .navigationLogout {
    padding-top: 100px;
  }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .menu {
    font-size: 20px;
  }

  .menu {
    font-size: 21px;
  }

  .semiCircle {
    right: 400px;
  }

  .emptySmallEllipse {
    left: 480px;
  }

  .fullSmallEllipse {
    bottom: 70px;
    left: 200px;
  }
  .navigation {
    margin-left: 100px;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
  .menu {
    font-size: 21px;
  }
  .menuLargeImage {
    right: -75px;
  }
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
  .semiCircle {
    right: 800px;
  }

  .emptySmallEllipse {
    left: 880px;
  }

  .fullSmallEllipse {
    bottom: 70px;
    left: 400px;
  }
  .menuLargeImage {
    right: -105px;
  }
}
