:root {
  --green: green;
  --green-radioactive: rgb(7, 191, 7);
  --green-transparent: rgba(0, 128, 0, 0.1);
  --black: #000000;
  --white: #ffffff;
  --metallic-silver-light: #dce3e9;
  --metallic-silver: #bfc5ca;
  --cool-grey: #969fa6;
  --oslo-grey: #7f888f;
  --grey: grey;
  --mako: #3d4449;
  --porcelain: #f5f6f7;
  --anti-flash: #eff1f2;

  --elipse: #817eff;
  --border: #f4f4f8;
  --primary-color: #5956e9;
  --white: #ffffff;
  --company-name: #F070DF;

  --3p75px: 0.2343rem;
  --5px: 0.3125rem;
  --9p6px: 0.6rem;
  --9p72px: 0.6075rem;
  --10px: 0.625rem;
  --10p6px: 0.66625rem;
  --10p8px: 0.675rem;
  --11p88px: 0.7425rem;
  --12px: 0.75rem;
  --12p5px: 0.78125rem;
  --13px: 0.8125rem;
  --13p33px: 0.8331rem;
  --14px: 0.875rem;
  --14p66px: 0.9162rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --16p66: 1.041rem;
  --17px: 1.0625rem;
  --17p33px: 1.08rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --19p5px: 1.21875rem;
  --20px: 1.25rem;
  --21p66px: 1.353rem;
  --22px: 1.375rem;
  --23p33px: 1.45rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26p66px: 1.66rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --43p33px: 2.7rem;
  --46p66px: 2.91625rem;
  --56px: 3.5rem;
  --64px: 4rem;
  --69px: 4.31rem;

  --heading: 3rem;



  /* Typography scale */

  /* Modile */
--h00mobile: 2.5rem;
--h0mobile: 2rem;
--h1mobile: 1.63rem;
--h2mobile: 1.38rem;
--h3mobile: 1.13rem;
--h4mobile: 1rem;
--h5mobile: 0.88rem;
--h6mobile: 0.75rem;

  /* Desktop */
--h00desktop: 3rem;
--h0desktop: 2.5rem;
--h1desktop: 2rem;
--h2desktop: 1.5rem;
--h3desktop: 1.25rem;
--h4desktop: 1rem;
--h5desktop: 0.88rem;
--h6desktop: 0.75rem;


/* Font weights */ 
--font-weight-extrabold: 700;
--font-weight-bold: 600;
--font-weight-semibold: 500;
--font-weight-normal: 400;
--font-weight-light: 300;

/*  Line heights */ 
--lh-condensed-ultra: 1;
--lh-condensed: 1.25;
--lh-default: 1.5;

/* Border radius */
--border-radius-1:  4px;
--border-radius-2:  6px;
--border-radius-3:  8px;

/* Spacing scale, margin & padding */
--spacer-1:4px;
--spacer-2:8px;
--spacer-3:16px;
--spacer-4:24px;
--spacer-5:32px;
--spacer-6:40px;

/*Extended spacing, margin & paddding sale*/
--spacer-7:48px;
--spacer-8:64px;
--spacer-9:80px;
--spacer-10: 96px;
--spacer-11: 112px;
--spacer-12: 128px;

/* Vertical margin scale for text only */
--vspacer-1:0.25rem;
--vspacer-2:0.5rem;
--vspacer-3:1rem;
--vspacer-4:1.5rem;
--vspacer-5:2rem;
--vspacer-6:2.5rem;
--spacer-7:3rem;
--spacer-8:4rem;
--spacer-9:5rem;
--spacer-10: 6rem;
--spacer-11: 7rem;
--spacer-12: 8rem;
}

html,
body {
  width: 100%;
}

body {
  box-sizing: border-box;
  line-height: 1.25;
  font-family: "Roboto Slab", serif;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
