.mainWrapper {
  align-items: center;
  background: white;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  min-height: 100px;
  padding: 10px;
}

.informationWrapper {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}

.img {
  width: 25%;
  height: fit-content;
}

.title {
  font-size: var(--15px);
  font-weight: bold;
  margin-bottom: var(--5px);
}

.price {
  font-size: var(--14px);
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: var(--5px);
}

.quantityWrapper {
  align-items: center;
  display: flex;
  font-family: "SF Pro rounded", sans-serif;
  font-size: var(--13px);
  gap: 10px;
}

.quantityItems {
  display: flex;
  align-items: center;
  gap: 5px;
}

.counterButton {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background: #7dccec;
  color: white;
  cursor: pointer;
}

.counterNumber {
  font-weight: bold;
}

/* 360px */
@media only screen and (min-width: 22.5rem) {
}

/* 480px */
@media only screen and (min-width: 30rem) {
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
  .title {
    font-size: var(--20px);
    margin-bottom: var(--10px);
  }

  .price {
    font-size: var(--19px);
    margin-bottom: var(--10px);
  }

  .quantityWrapper {
    font-size: var(--17px);
  }
}

/* 736px */
@media only screen and (min-width: 46em) {
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .title {
    margin-bottom: var(--15px);
  }

  .price {
    margin-bottom: var(--15px);
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
  .title {
    font-size: var(--30px);
    margin-bottom: var(--20px);
  }

  .price {
    font-size: var(--25px);
    margin-bottom: var(--20px);
  }

  .quantityWrapper {
    font-size: var(--20px);
  }
}
