.labelSvg {
    transform: scale(0.8);
}

.formInputContainer {
    display: flex;
    flex-direction: column;
    font-size: var(--10px);
    color: #868686;
    margin-bottom: 15px;
}


.label {
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    border: none;
    border-bottom: 1px solid #C9C9C9;
}