.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  padding: 25px 0 10px 0;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  gap: 10px;
  border-radius: 30px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #c9c9c9;
  font-family: Raleway, sans-serif;
}

.searchButton {
  background-color: transparent;
  border: none;
}

.searchInput {
  color: #868686;
  background-color: transparent;
  font-size: var(--16p66);
  line-height: var(--20px);
  font-weight: 600;
  outline: none;
  border: none;
  max-width: 160px;
}

.pageMain {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-evenly;
}

.title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #000000;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.listItem {
  font-family: Raleway, sans-serif;
  font-size: var(--13px);
  line-height: var(--20px);
  color: #9a9a9d;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.listItemActive {
  composes: listItem;
  color: var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
}
.pageFooter {
  margin: 5px 0 5px 0;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 16px;
}

.footerNavItem {
  cursor: pointer;
  fill: transparent;
  stroke: #200e32;
}

.footerNavItemActive {
  composes: footerNavItem;
  filter: drop-shadow(0px 0px 15px rgba(89, 86, 233, 1));
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

/* 360px */
@media only screen and (min-width: 22.5rem) {
  .title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .listItem {
    font-family: Raleway, sans-serif;
    font-size: var(--13px);
    line-height: var(--20px);
    color: #9a9a9d;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
  }

  .listItemActive {
    composes: listItem;
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
  }

  .slider {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .sliderCardsList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 0 5px 0;
    flex: 1 0 auto;
  }

  .nextSlideButton {
    font-size: 1rem;
    line-height: 1rem;

    margin-bottom: 35px;
  }
}

/* 480px */
@media only screen and (min-width: 30rem) {
  .title {
    font-size: 3rem;
    line-height: 3rem;

    margin-bottom: 1.5rem;
  }

  .tabs {
    margin-bottom: 2rem;
  }

  .listItem {
    font-size: var(--16px);
    line-height: var(--20px);
  }

  .nextSlideButton {
    font-size: 1.1rem;
  }

  .navList {
    margin-bottom: 20px;
  }
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
}

/* 736px */
@media only screen and (min-width: 46em) {
  .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .footerNavItem {
    transform: scale(1.5);
  }
  .navList {
    margin-top: 20px;
  }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .listItem {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .tabs {
    gap: 20px;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
  .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .footerNavItem {
    transform: scale(1.5);
  }

  .pageFooter {
    margin: 15px 0 15px 0;
  }
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
}
