
.upperContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  font-family: Raleway, sans-serif;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 75%;

}

.productImgSection {
  display: flex;
  justify-content: center;
}

.productImg {
  width: 120px;
  border-radius:25%;
  margin-top: -40px;
  margin-bottom: 1rem;

}

.button{
  color:var(--primary-color);
  margin: 0.5rem 0; 
  border: none;
}



/* 360px */
@media only screen and (min-width: 22.5rem) {
  .productImg {
    width: 150px;
    margin-bottom: 2rem;
  }


}

/* 480px */
@media only screen and (min-width: 30rem) {
  .productImg {
    width: 200px;
    margin-bottom: 3rem;
  }


}

/* 600px */
@media only screen and (min-width: 37.5rem) {
  .productImg {
    width: 240px;
    margin-bottom: 5rem;
  }

}

/* 736px */
@media only screen and (min-width: 46em) {
  .productImg {
    margin-bottom: 8rem;
  }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .productImg {
    width: 260px;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {

}

/* 1680 px */
@media only screen and (min-width: 105rem) {
  .productImg {
    width: 280px;
  }
}