.container {
	height: 100vh;
	padding: 0 25px;
	overflow-x: hidden;
}

.container_primary {
	composes: container;
    background-color: var(--primary-color);
}

.container_white {
	composes: container;
	background-color: #f2f2f2;
}


@media only screen and (min-width: 46em) {
	.container {
		padding: 0 53px;
	}
}

@media only screen and (min-width: 80em) {
	.container {
		padding: 0 73px;
	}
}

@media only screen and (min-width: 112em) {
	.container {
		padding: 0 104px;
	}
}
