:global body {
    margin: 0;
    padding: 0;
  }
  
  .page {
    background-color: purple;
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue", Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    text-transform: capitalize;
    color: red;
    font-weight: bold;
    font-size: 4em;
  }