.button {
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius-3);
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: var(--h5mobile);
    font-weight: var(--font-weight-semibold);
    justify-content: space-between;
    padding: var(--spacer-2) var(--spacer-3);
}

.button:hover {
    cursor: pointer;
}

.svg {
    transform: scale(0.8);
}

/* 360px */
@media only screen and (min-width: 22.5rem) {}

/* 480px */
@media only screen and (min-width: 30rem) {

    .svg {
        transform: scale(1.1);
    }
}

/* 600px */
@media only screen and (min-width: 37.5rem) {

    .svg {
        transform: scale(1.3);
    }
}

/* 736px */
@media only screen and (min-width: 46em) {
    .button {
        padding: var(--spacer-4) var(--spacer-5);
    }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {

    .button {
        padding: var(--spacer-4) var(--spacer-5);
    }
}

/* 1280px */
@media only screen and (min-width: 80rem) {}

/* 1680 px */
@media only screen and (min-width: 105rem) {}