.mainWrapper {
    background: white;
    display: flex;
    gap: 10px;
    padding: 15px;
}

.informationWrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
}

.img {
    width: 25%;
}

.title {
    font-size: 1rem;
}

.price {
    font-size: 0.9375rem;
}

.quantityWrapper {
    align-items: center;
    display: flex;
    font-family: 'SF Pro rounded', sans-serif;
    font-size: 0.8125rem;
    gap: 10px;
}

.quantityItems > * {
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: none;
    text-align: center;
    width: 20px;
}

.quantityItems button {
    background: #7DCCEC;
    color: white;
}