.sliderCardLink {
  text-decoration: none;
}

.sliderCard {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  text-align: center;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 auto;
}

.sliderCardImg {
  position: relative;
  top: -10px;
  width: 40%;
  min-height: 68px;
  border-radius: 50%;
}

.sliderCardTitle {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-semibold);
  font-size: var(--h3mobile);
  line-height: var(--lh-condesed-ultra);
  padding: 0 10px;
  overflow-wrap: break-word;

  color: #000000;
  opacity: 0.9;
}

.sliderCardDesc {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-semibold);
  font-size: var(--h4mobile);
  line-height: var(--lh-condesed-ultra);

  color: #868686;
  opacity: 0.9;
}

.sliderCardPrice {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: var(--h4mobile);
  line-height: var(--lh-condesed-ultra);
  text-align: center;
  margin: 0 0 20px 0;

  color: var(--primary-color);
}

/* 360px */
@media only screen and (min-width: 22.5rem) {
  /* .sliderCardTitle {
    font-size: 1.35rem;
    line-height: 1.3rem;
  }

  .sliderCardDesc {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sliderCardPrice {
    font-size: 1.1rem;
  } */
}

/* 480px */
@media only screen and (min-width: 30rem) {
  /* .sliderCardTitle {
    font-size: 1.35rem;
    line-height: 1.3rem;
  }

  .sliderCardDesc {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sliderCardPrice {
    font-size: 1.1rem;
  } */
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
  /* .sliderCardTitle {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .sliderCardDesc {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .sliderCardPrice {
    font-size: 1.3rem;
    line-height: 1.3rem;
  } */
}

/* 736px */
@media only screen and (min-width: 46em) {
  /* .sliderCardTitle {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .sliderCardDesc {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .sliderCardPrice {
    font-size: 1.4rem;
    line-height: 1.4rem;
  } */
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  /* .sliderCardTitle {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .sliderCardDesc {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .sliderCardPrice {
    font-size: 1.5rem;
    line-height: 1.5rem;
  } */
}
