.slider {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.sliderCardsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 0 0 5px 0;
  flex: 1 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.swiper > div:first-child {
  max-height: 100%;
  height: 100%;
  display: flex;
  transition-timing-function: linear;
}

.swiperSlide {
  width: auto;
  flex-shrink: 0;
  display: block;
  margin: 0 0 10px 0;
}

.swiperSlideImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
