

.menu {
	font-size: 12px;
	font-family: 'Raleway';
	font-weight: 600;
	color:var(--white);
}


.navigationContainer {
	padding-top: 85px;
}


.navigationContainer_a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}


.navigation_li {
	composes: navigationContainer_a;
	width: 110px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;

}



.navigation{
	position: relative; 
}

.navigation_ul{
	display: flex; 
	flex-direction: column;
}











.navigation_li:not(:first-child) {
	margin-top: 10px;
}


.navigation_span {
	border-bottom: 1px solid var(--border);
	width: 132px;
	color: var(--white);
	margin-left: 15px; 
}


.navigation_span:hover{
	color: var(--elipse)
}

.navigation_profileIcon:before {
	content: url("../../../public/assets/Profile.svg");
}

.navigation_buyIcon:before {
	content: url("../../../public//assets/Buy.svg");
}

.navigation_heartIcon:before {
	content: url("../../../public/assets/Heart.svg");
}

.navigation_settingIcon:before {
	content: url("../../../public/assets/Setting.svg");

}

.navigation_deliveryIcon:before {
	content: url("../../../public/assets/Bag.svg");
}

.navigation_signoutIcon:before {
	content: url("../../../public/assets/Logout.svg");

}

.navigation_logout {
	padding-top: 76px;
	display: flex;
	align-items: center;
}



.menuMediumEllipse{
	z-index: 0;
	position: absolute;
	bottom:40px;
	left: 0;
}








.menuLargeEllipse{
	position: absolute;
	top:0;
	right: 40px;
}

.menuLargeEllipse img {
	width: 80px; 
}


.menuMediumEllipse{
	z-index: 0;
	position: absolute;
	bottom:40px;
	left: 0;
}

.menuMediumEllipse img {
	width: 50px; 
}




.fullSmallEllipse{
	position: absolute;
	bottom:30px;
	left: -10px;
	transform:scale(0.60)
	
}

.emptySmallEllipse{
	position: absolute;
	bottom:65px;
	left: 90px;
	transform:scale(0.75)
	
}









.smallEllipse{
	position: absolute;
	top:50px;
	right: 20px;
}




.marginLeft15px{
	margin-left:15px; 
}







.menuLargeImage {
	position:absolute;
	top: 80px;
	right: 0;
}

.menuLargeImage img {
	height: 315px;
	width: 120px;
}

.menuLargeImage .rectangle74image{
	height: 300px;
	width: 140px;
	position: absolute;
	right: -5px;
	top: 30px;
}


.emptySmallEllipsePosition{
	position: absolute;
	top:-40px;
	left: 75px;
	transform: scale(0.65);
}


.semiCircle{
	position: absolute;
	top: -10px;
	right: 35px; 
	transform: scale(0.7);
}


