.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.title {
  margin: var(--spacer-8) 0 0 0;
  font-size: var(--h00mobile);
  color: var(--company-name);
  text-align: center;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  line-height: var(--lh-condensed-ultra);
  font-style: italic;
}

.imgWrapper {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%)
}

.img {
  width: 200px;
}

.imgWrapper::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(99, 80, 255);
  filter: blur(9px);
}

.link {
  width: 100%;
}

/* 360px */
@media only screen and (min-width: 22.5rem) {

  .img {
    width: 300px;
  }

}

/* 480px */
@media only screen and (min-width: 30rem) {

}

/* 600px */
@media only screen and (min-width: 37.5rem) {
  /* .imgWrapper {
    margin-bottom: 50px;
  }

  .img {
    width: 300px;
  } */
}

/* 736px */
@media only screen and (min-width: 46em) {
  .img {
    width: 350px;
  }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
  .img {
    width: 450px;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
}
