.productImg{
  width: 90uubupx; 
}

.productImgSection{
  display: flex; 
  justify-content: center;
  margin-bottom: 1rem;
}


.container{
  font-family: Raleway, sans-serif;
}

.listItem {
  font-size: var(--13px);
  line-height: var(--20px);
}



.footerNavItem {
  cursor: pointer;
  fill: transparent;
  stroke: #200e32;
}

.footerNavItemActive {
  composes: footerNavItem;
  filter: drop-shadow(0px 0px 15px rgba(89, 86, 233, 1));
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

/* 360px */
@media only screen and (min-width: 22.5rem) {

 
}

/* 480px */
@media only screen and (min-width: 30rem) {
 
}

/* 600px */
@media only screen and (min-width: 37.5rem) {
}

/* 736px */
@media only screen and (min-width: 46em) {
 
}

/* 980px */
@media only screen and (min-width: 61.25rem) {
 
}

/* 1280px */
@media only screen and (min-width: 80rem) {
  
}

/* 1680 px */
@media only screen and (min-width: 105rem) {
}
