.button {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    font-family: "SF Pro Text", sans-serif;
    font-size: var(--13px);
    font-weight: 600;
    justify-content: space-between;
    margin: 5px 0;
    padding: 12px 20px;
}

.svg {
    transform: scale(0.7);
}