.fixedWidth {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    justify-content: center;
}


.profileContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    margin-bottom: var(--spacer-2);
    position: relative;
    z-index: 0;
}

.backdrop {
    background-color: var(--white);
    border-radius: var(--border-radius-3);
    bottom: 0;
    height: 85%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.img {
    width: 50px;
    height: 50px;
}

.name {
    font-size: var(--h5mobile);
    font-weight: var(--font-weight-bold);
    margin: var(--spacer-2);
}

.address {
    display: flex;
    flex-direction: column;
    font-size: var(--h6mobile);
    gap: var(--spacer-1);
    margin-bottom: var(--spacer-2);
    position: relative;
    width: fit-content;
}

.pin {
    position: absolute;
    left: -30px
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
}


/* 360px */
@media only screen and (min-width: 22.5rem) {

    .img {
        width: 60px;
        height: 60px;
    }

    .profileContainer {
        margin-bottom: var(--spacer-3);
    }

    .address {
        margin-bottom: var(--spacer-3);
    }

    .pin {
        transform: scale(1.1);
    }

    .buttonContainer {
        gap: var(--spacer-3);
    }
}

/* 360px */
@media only screen and (min-width: 22.5rem) {}

/* 480px */
@media only screen and (min-width: 30rem) {}

/* 600px */
@media only screen and (min-width: 37.5rem) {

    .img {
        width: 90px;
        height: 90px;
    }
    

    .pin {
        transform: scale(1.3);
        left: -40px;
    }

}

/* 736px */
@media only screen and (min-width: 46em) {
    
    .img {
        width: 110px;
        height: 110px;
    }
}

/* 980px */
@media only screen and (min-width: 61.25rem) {

    .fixedWidth {
        max-width: 1024px;
    }

    .pin {
        transform: scale(1.4);
    }
}

/* 1280px */
@media only screen and (min-width: 80rem) {}

/* 1680 px */
@media only screen and (min-width: 105rem) {}
