<<<<<<< HEAD
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap'); */

:root {
  --green: green;
  --green-radioactive: rgb(7, 191, 7);
  --green-transparent: rgba(0, 128, 0, 0.1);
  --black: #000000;
  --white: #ffffff;
  --metallic-silver-light: #dce3e9;
  --metallic-silver: #bfc5ca;
  --cool-grey: #969fa6;
  --oslo-grey: #7F888F;
  --grey: grey;
  --mako: #3D4449;
  --porcelain: #F5F6F7;
  --anti-flash: #eff1f2;

  --elipse: #817EFF;
  --border: #F4F4F8;
  --primary-color: #5956e9;

  --3p75px: 0.2343rem;
  --9p6px: 0.6rem;
  --9p72px: 0.6075rem;
  --10px: 0.625rem;
  --10p6px: 0.66625rem;
  --10p8px: 0.675rem;
  --11p88px: 0.7425rem;
  --12px: 0.75rem;
  --12p5px: 0.78125rem;
  --13px: 0.8125rem;
  --13p33px: 0.8331rem;
  --14p66px: 0.9162rem;
  --15px: 0.9375rem;
  --16p66: 1.041rem;
  --17p33px: 1.08rem;
  --18px: 1.125rem;
  --19p5px: 1.21875rem;
  --20px: 1.25rem;
  --21p66px: 1.353rem;
  --23p33px: 1.45rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26p66px: 1.66rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --43p33px: 2.7rem;
  --46p66px: 2.91625rem;
  --56px: 3.5rem;
  --69px: 4.31rem;
}

html, body {
  width: 100%;
}

body {
	box-sizing: border-box;
	line-height: 1.4;
	font-family: 'Roboto Slab', serif;
=======
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap'); */

:root {
  --green: green;
  --green-radioactive: rgb(7, 191, 7);
  --green-transparent: rgba(0, 128, 0, 0.1);
  --black: #000000;
  --white: #ffffff;
  --metallic-silver-light: #dce3e9;
  --metallic-silver: #bfc5ca;
  --cool-grey: #969fa6;
  --oslo-grey: #7F888F;
  --grey: grey;
  --mako: #3D4449;
  --porcelain: #F5F6F7;
  --anti-flash: #eff1f2;

  --elipse: #817EFF;
  --border: #F4F4F8;
  --primary-color: #5956e9;

  --3p75px: 0.2343rem;
  --9p6px: 0.6rem;
  --9p72px: 0.6075rem;
  --10px: 0.625rem;
  --10p6px: 0.66625rem;
  --10p8px: 0.675rem;
  --11p88px: 0.7425rem;
  --12px: 0.75rem;
  --12p5px: 0.78125rem;
  --13px: 0.8125rem;
  --13p33px: 0.8331rem;
  --14p66px: 0.9162rem;
  --15px: 0.9375rem;
  --16p66: 1.041rem;
  --17p33px: 1.08rem;
  --18px: 1.125rem;
  --19p5px: 1.21875rem;
  --20px: 1.25rem;
  --21p66px: 1.353rem;
  --23p33px: 1.45rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26p66px: 1.66rem;
  --30px: 1.875rem;
  --36px: 2.25rem;
  --43p33px: 2.7rem;
  --46p66px: 2.91625rem;
  --56px: 3.5rem;
  --69px: 4.31rem;
}

html, body {
  width: 100%;
}

body {
  background-color: var(--primary-color);
  margin: 0;
>>>>>>> 05800b88de4f32ff3bbeb0f7f7034241deead894
}