.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.title {
    margin: 70px 0 10px 0;
    font-size: 4rem;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    line-height: 4.25rem;
}
  
.img_wrapper {
    position: relative;
}
  
.img_wrapper::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(99, 80, 255);
    filter: blur(9px);
}